@import '../../../styles/theme.scss';

ul {
  list-style-type: none;
}

li {
  display: grid;
  grid-template-areas:
    'symbol price'
    '. volume';
  grid-template-columns: min-content 1fr;
  row-gap: 5px;
}

h3,
p {
  margin: 0;
}

.symbol {
  grid-area: symbol;
  font-size: 16px;
  font-weight: 500;
  color: $theme-foreground;
}

.price {
  grid-area: price;
  align-self: flex-end;
  font-size: 16px;
  color: $theme-foreground;
}

.green {
  color: $theme-green;
}

.red {
  color: $theme-red;
}

.volume {
  grid-area: volume;
  align-self: flex-end;
  font-size: 12px;
  color: $theme-comment;
}
