<div class="item">
  <img src="/assets/icons/connected-tv.svg" />
  <div class="body">
    <h2>What is Market News?</h2>
    <p>Market News is an aggregate of the latest finance news spanning the NYSE, NASDAQ, and DJI.</p>
  </div>
</div>
<div class="item">
  <img src="/assets/icons/travel-explore.svg" />
  <div class="body">
    <h2>Who reports the news?</h2>
    <p>
      Our sources come from all over the globe. We integrate with
      <a href="https://www.marketaux.com/">marketaux.com</a> to bring you instant access to global stock market and
      finance news also including funds, crypto and more along with comprehensive sentiment analysis.
    </p>
  </div>
</div>
<div class="item">
  <img src="/assets/icons/candlestick-chart.svg" />
  <div class="body">
    <h2>Where is the live symbol from?</h2>
    <p>
      The live data feed if powered by <a href="https://finnhub.io/">Finndhub</a> to democratize Financial Data with the
      most powerful stock API on the market.
    </p>
  </div>
</div>
