@import '../../../styles/theme.scss';

ul {
  list-style-type: none;
}

li {
  display: grid;
  grid-template-areas: 'symbol price';
  grid-template-columns: min-content 1fr;
  row-gap: 5px;
}

h3 {
  grid-area: symbol;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: $theme-foreground;
}

span {
  grid-area: price;
  text-align: right;
  align-self: flex-end;
  font-size: 16px;
  color: $theme-foreground;
}

.green {
  color: $theme-green;
}

.red {
  color: $theme-red;
}
