@import '../../../styles/theme.scss';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 25px 0;
}

.item {
  display: grid;
  grid-template-areas: 'img body';
  grid-template-columns: 200px auto;
}

img {
  grid-area: img;
  object-fit: cover;
  background-color: white;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}

.body {
  grid-area: body;
  margin: 0 15px;
}

h2 {
  margin: 0;
  font-weight: normal;
}

.source {
  color: $theme-selection;
  margin: 0;
}

.keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.keywords li {
  margin: 15px 5px;
}

.pill {
  display: flex;
  justify-content: center;
  min-width: 50px;
  border: 1px solid $theme-foreground;
  border-radius: 35px;
  padding: 10px;
  white-space: nowrap;
  text-decoration: none;
  background-color: $theme-background;
  color: $theme-foreground;
}

.pill:hover {
  cursor: pointer;
  border: 1px solid $theme-green;
  color: $theme-green;
  background-color: $theme-selection;
}
