<ul *ngFor="let newsData of newsFeedItems">
  <li class="item">
    <img [src]="newsData.image_url" />
    <div class="body">
      <a [href]="newsData.url" target="_blank">
        <h2>{{ newsData.snippet }}</h2>
      </a>
      <ul class="keywords" *ngIf="newsData.keywords.length > 0">
        <li *ngFor="let keyword of newsData.keywords">
          <button class="pill" href="#">{{ keyword }}</button>
        </li>
      </ul>
      <p class="source">{{ newsData.source }}</p>
    </div>
  </li>
  <hr />
</ul>
